.hero.is-link {
    background-color: #d4b8c9;
}

.navbar.is-link {
    background-color: #d4b8c9;
}

.navbar-burger {
    margin-left: 0 !important;
}

.navbar-burger span {
    background-color: #333333 !important;
}

.hero-txt-col {
    padding-top: 50px;
}

.hero-img-col {

}

.hero-img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.about-img {
    border-radius: 20px;
}

.columns.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-text {
    margin: 60px;
}

h3 {
    margin: 20px;
}

.button.is-link {
    background-color: #000000;
    border-color: #000000;
}

.button.is-link:hover {
    background-color: #333333;
    border-color: #333333;
}

.footer .fa-circle {
    color: #000000;
}